html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

.App {
  text-align: left;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modify-window {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  text-align: left;
  height: 100%;
}

.h2 {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin: 5px 0;
  padding: 10px 0;
  border-bottom: 2px solid #e0e0e0;
  text-transform: capitalize;
  opacity: 80%;
}

.top-section {
  display: flex;
  text-align: left;
  font-size: 15px;
  color: rgb(93, 138, 150);
  height: 20px;
  white-space: nowrap;
  padding-left: 15px;
  padding-top: 5px;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  margin: 2px;
}

.middle-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-grow: 1;
}


.left-section {
  text-align: left;
  flex: 0 0 45%;
  white-space: nowrap;
  margin-left: 15px;
  padding-left: 5px;
  box-sizing: border-box;
  min-width: 660px;
  display: flex;
  height: 700px;
  min-height: 450px;
}
.right-section {
  text-align: left;
  flex: 0 0 53%;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 10px);
  margin-right: 15px;
  min-width: 680px;
  overflow: auto;
  height: 700px;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto; /* Automatikusan növelhető legyen */
  box-sizing: border-box;
  margin-top: 5px;
  overflow: hidden;
}



.bottom-left {
  text-align: left;
  flex: 0 0 45%;
  margin-left: 15px;
  padding-left: 5px;
  box-sizing: border-box;
  min-width: 660px;
  height: 20vh;
  font-size: 15px;
  color: rgb(61, 80, 80);
  white-space: nowrap;
  overflow: auto;

}

.left-bottom {
  text-align: left;
  flex: 0 0 50%;
  white-space: nowrap;
  padding-left: 30px;
}

.bottom-right {
  text-align: left;
  flex: 0 0 53%;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: calc(100% - 10px);
  margin-right: 15px;
  overflow: auto;
   min-width: 680px;
}

.right-bottom {
  text-align: left;
  flex: 0 0 50%;
  white-space: nowrap;
  padding-left: 20px;
}

.left-left {
  text-align: left;
  flex: 1 1 auto;
  /* Rugalmasabbá teszi az összenyomásnál */
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 350px;
  /* Csökkentett minimum szélesség */
  max-width: 350px;
}

.left-left-top {
  text-align: left;
  flex: 0 0 50%;
  white-space: nowrap;
  padding-left: 30px;
}

.left-left-bottom {
  text-align: left;
  flex: 0 0 50%;
  white-space: nowrap;
  padding-left: 30px;
}

.left-right {
  text-align: left;
  flex: 0 0 60%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 250px;
  min-width: 200px;
}

.left-right-top {
  text-align: left;
  flex: 0 0 50%;
  white-space: nowrap;
}

.left-right-bottom {
  text-align: left;
  flex: 0 0 50%;
  white-space: nowrap;
}

.panel {
  margin-right: 5px;
  border-radius: 10px;
  box-shadow: inset 3px 3px 5px #a9a9a9, inset -3px -3px 5px #a9a9a9,
    inset 3px -3px 5px #a9a9a9, inset -3px 3px 5px #a9a9a9;
}

.thumb {
  width: 100%;
  height: auto;
}

.rectangle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  display: flex;
  display: inline-block;
  border: 1px solid #95afc0;
  border-radius: 10px;
  width: 170px;
  height: 100%;
  background: #f0f8ff;
  align-content: center;
}

.drag-drop-header {
  display: flex;
  width: 100%;
  height: 100%;
}

.droppable-container {
  flex: 1;
  margin-right: 20px;
  height: 100%;
  text-align: center;
  min-width: 250;
  display: flex;
  flex-direction: column;
}

.droppable-list1,
.droppable-list2 {
  display: inline-block;
  background-color: #add8e6;
  border-radius: 10px;
  align-self: center;
  min-height: 100px;
  width: 200px;
  padding: 10px;
  list-style: none;
  overflow: visible;
  height: 100%;
}

.draggable-item {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  height: auto;
}

.draggable-item.dragging {
  cursor: grabbing;
}

.button {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 7px;
  background-color: #678caa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  border: 2px solid #95afc0;
}

.button:disabled {
  background-color: #afb8af;
  border: 2px solid #afb8af;
}

.button:hover {
  background-color: #45a049;
}
.button:disabled:hover {
  background-color: #afb8af;
  border: 2px solid #afb8af;
}
.buttonv2 {
  height: max-content;
  width: 80%;
  margin-top: 15%;
}

hr {
  margin: 10px 0;
  margin-top: 5px;
  /* Adjunk hozzá margókat a jobb láthatóság érdekében */
  border: 0;
  /* Távolítsuk el az alapértelmezett szegélyt */
  border-top: 1px solid #626b72;
  /* Adjunk hozzá egy felső szegélyt */
  opacity: 0.3;
  /* Átlátszóság beállítása */
}

.margin-left {
  margin-left: 10px;
}
.lead {
  width: 80%;
  margin: 0 auto;
  word-wrap: break-word;
  white-space: normal;
  font-size: 100%;
  opacity: 0.6;
  text-align: center;
  line-height: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #d8d5d5;
}
.data-text {
  width: 200px;
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
  font-size: 100%;
  opacity: 0.6;
  text-align: left;
  line-height: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #d8d5d5;
}

.scrollable-container {
  max-height: 100%;
  /* Állítsd be a kívánt magasságot */
  overflow-y: auto;
  padding: 10px;
  margin-top: 10px;
}
.scrollable2-container {
  max-height: 100px;
  overflow-y: auto;
  margin-top: 10px;
}
.list-item {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.list2-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}
.list3-item {
  display: flex;
  justify-content: flex-start;
  width: 58%;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  margin-left: 40px;
  align-items: left;
}
.item-field.szolgtipus {
  width: 25%;
}
.item-field.havidij {
  width: 25%;
}
.item-field.egyszeridij {
  width: 30%;
}
.item-field.futamido {
  width: 10%;
}

.item-field.szolgtipus3 {
  width: 30%;
  padding-left: 5px;
}

.item-field.havidij3 {
  width: 25%;
}

.item-field.egyszeridij3 {
  width: 25%;
}

.item-field.futamido3 {
  width: 15%;
}

.number-input {
  width: 100%;
}

.stat-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ajanlat-reszek {
  display: flex;
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;
}

.common-data {
  display: flex;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.common-data-full {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 40px;
  height: 100px;
  width: 80%;
  border: 1px solid #ccc;
}
.ajanlat-reszek2 {
  padding-top: 5px;
  border: 1px solid #ccc;
  margin-top: 50px;
  margin-left: 40px;
  height: 300px;
  width: 80%;
}

@media (max-width: 1460px) {
  .middle-section {
    flex-direction: column;
  }

  .bottom-section {
    flex-direction: column;
  }

  .left-section,
  .right-section,
  .bottom-left,
  .bottom-right {
    flex: 0 0 100%;
    max-width: 95%;
    min-width: 95%;
    margin-left: 15px;
    margin-top: 5px;
  }
}
