.App {
  text-align: left;
  background-color: #daecf5;
  display: flex;
  flex-direction: column;
}

html {
  background-color: rgb(228, 219, 219);
}
.middle-section {

display: flex;
box-sizing: border-box;
/*flex-direction:row;*/

}
.top-section {
  display: flex;
  text-align: left;
  font-size: 15;
  color: rgb(61, 80, 80);
  height: 30px;
  white-space: nowrap;
  border-bottom: 1px solid rgb(110, 117, 119);
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  margin: 5px;
}
.left-section {
  text-align: left;
  flex: 0 0 40%;

  white-space: nowrap;
  border: 1px solid rgb(173, 209, 219);
  border-right: none;
  margin-left: 5px;
  padding-left: 5pf;
  box-sizing: border-box;

  display: flex;
  box-sizing: border-box;
}
.left-left {
  text-align: left;
  flex: 0 0 60%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.left-left-top {
  text-align: left;
  flex: 0 0 50%;
  white-space: nowrap;

}
.left-left-bottom {
  text-align: left;
  flex: 0 0 50%;
  white-space: nowrap;

}
.left-right {
  text-align: left;
  flex: 0 0 40%;
  white-space: nowrap;

}
.right-section {
  text-align: left;
  flex: 0 0 60%;
  white-space: nowrap;
  border: 1px solid rgb(173,
    209,
    219);
  box-sizing: border-box;
}

.bottom-section {
  display: flex;
  text-align: left;
  font-size: 15;
  color: rgb(61, 80, 80);
  height: 30px;
  white-space: nowrap;
  border-bottom: 1px solid rgb(110, 117, 119);
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  margin: 5px;

}

.bottom-section2 {
  display: flex;
  text-align: left;
  font-size: 15;
  color: rgb(61, 80, 80);
  height: 30px;
  white-space: nowrap;
    justify-content: left;
  align-items: center;
  box-sizing: border-box;
  margin: 5px;

}

.rectangle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: rgba(36, 34, 34, 0.575);
}

ul {
  list-style-type: none;
}
