.right-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.drag-drop-header {
    display: flex;
    width: 100%;
}

.droppable-container {
    
    flex: 1;
    margin-right: 20px;
    text-align: center;

}

.droppable-list1 {
display: inline-block;
   background-color: #badc58;
   border-radius: 10px;
   align-self: center; 
   min-height: 100px;
    width: 200px;
    padding: 10px;
    list-style: none;
}
.droppable-list2 {
    display: inline-block;
    background: #f6e58d;
    border-radius: 10px;
    min-height: 100px;
    width: 200px;
    padding: 10px;
    list-style: none;
}
.draggable-item {
    margin-bottom: 10px;
    
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb {
    width: 100%;
    height: auto;
}